.box{
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 5px;
    color: black;
    background-color: orange;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    border: 1px solid gray;
    position: relative;
}
.anime{
    animation: move 10s infinite;
}
.linear{
    animation-timing-function: linear;
}
.ease{
    animation-timing-function: ease;
}

.easeIn{
    animation-timing-function: ease-in;
}
.easeOut{
    animation-timing-function: ease-out;
}
.easeInOut{
    animation-timing-function: ease-in-out;
}
.custom{
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes move {
    0%{background-color: orange;
    left: 0px;
    top: 0px;}
    100%{background-color: green;
        left: 200px;
        top: 0px;}
}